
.swiftpm/xcode/xcuserdata/tolgai.xcuserdatad/xcschemes/

.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

.swiftpm/xcode/package.xcworkspace/xcuserdata/tolgai.xcuserdatad/UserInterfaceState.xcuserstate
